.footer_bubbles {
	&__canvasbg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		filter: url("#goo");
	}

	&__canvas {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		filter: url("#goo");
	}

	&__footer {
		position: absolute;
		height: 50px;
		left: 0;
		bottom: 0;
		line-height: 50px;
		width: 100%;
		text-align: right;
		padding-right: 2rem;
		background-color: #000;
	}
}
