.sg-color-card {
    height: 350px;
    width: 100%;

    &__color {
        padding: $gutter;
        border-radius: 6px 6px 0 0;
        height: 250px;
    }

    &__content {
        padding: $gutter;
        height: 70px;
        border-radius: 0 0 6px 6px;
        border: 1px solid var(--text1)
    }
}


// header, section {
//     padding: 30px;

//     position: sticky;
//     position: -webkit-sticky;
//     top: 0;
//   }

//   section.about {
//     background-color: #e4d3d2;
//   }

//   section.about p {
//     max-width: 30em;
//   }

//   section.photo1 {
//     background-color: #d0bfbe;
//   }

//   section.photo2 {
//     background-color: #c5bbbf;
//   }

//   section.photo3 {
//     background-color: #bdc9c7;
//   }

//   section.photo {
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   section.photo img {
//     max-width: 1000px;
//   }
