{
	"useTabs": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": "src/assets/js/*.js",
			"options": {
				"trailingComma": "es5",
				"semi": true
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"parser": "html",
				"useTabs": true,
				"tabWidth": 4
			}
		},
		{
			"files": ["src/**/*.scss"],
			"options": {
				"useTabs": true
			}
		},
		{
			"files": [".prettierrc"],
			"options": {
				"parser": "json",
				"useTabs": true
			}
		}
	]
}
