---
layout: base.njk
permalink: /links/
---

{% set maxLinks = collections.links.length | min(1) %}
{% set linkslist = collections.links | head(-1) %}
{% set linkslistCounter = collections.links | length %}

<div class="row spacing-giant">
	<div class="column medium-6 large-4 huge-4 spacing-medium">
		{% include "links_tags_list.njk" %}
	</div>
	<div class="column medium-6 large-8 huge-8">
		<h2 class="h2 spacing-medium">Latest {% if maxLinks == 1 %}Link{% else %}{{ maxLinks }} Links{% endif %}</h2>
		<div class="section_d2d_test">
			<div class="row">
				{% for post in linkslist %}
					<div class="column large-12">
						<div class="section_d2d_test__box_container">
							<div class="section_d2d_test__box {% if post.data.highlight == true %}section_d2d_test__box--reverse{% endif %} rad-shadow">
								<div class="section_d2d_test__box_content">
									<div class="h5">{{ post.data.title2 }}</div>
									<div class="h3">
										{{ post.data.title }}
									</div>
									{{ post.data.description}}
								</div>
								<div class="section_d2d_test__box_content_footer">
									<a class="button-post button-post" href="{{ post.url | url}}">
										read more
										<span>
											<span>read more</span>
										</span>
									</a>
									{% for tag in post.data.tags %}
										{% if tag == "links" %}
										{% else %}
										{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
											<a href="{{ tagUrl | url }}" class="button-tags">{{ tag }}<span>{{ tag }}</span></a>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<p>More posts can be found in <a class="link-nav link-nav--helike" href="{{ '/links-archive/' | url }}"><span>the archive</span></a>.</p>
	</div>
</div>
{% set linkslist = collections.links %}
{% include "linkslist.njk" %}
