---
pagination:
  data: collections.linkstagList
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - linkstagList
  addAllPagesToCollections: true
layout: base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /links-tag/{{ tag | slug }}/
---
<div class="row">
	<div class="column">
	<br>
	<br>
	<br>
	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssaaaaaaaaaa
		<h1>Tagged “{{ tag }}”</h1>

		{% set linkslist = collections.links %}
		{% set linkstagList = collections.linkstagList[ tag ] %}
		{{tag}}{{linkslist[0].data.tags}}
		{% for link in linkslist %}
			{% for tagtest in linkstagList%}
				{% if tagtest === tag %}
					<div class="">
sadas
						{{tag}}{{link.data.title}}
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
		endeasas
		{% include "linkslist.njk" %}

		<p>
			See <a class="link-nav link-nav--helike" href="{{ '/links/' | url }}"><span>alssssl tags</span></a>.
		</p>
	</div>
</div>
