---
pagination:
  data: collections.linkstagList
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - linkstagList
  addAllPagesToCollections: true
layout: base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /links/{{ tag | slug }}/
---

<div class="row">
	<div class="column">
	<br>
	<br>
	<br>
	aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaassssssssssssssaaaaaaaaaa
		<h1>Tagged “{{ tag }}”</h1>

		{% set linkslist = collections.links %}
		{% include "linkslist.njk" %}

		<p>
			See <a class="link-nav link-nav--helike" href="{{ '/links/' | url }}"><span>all tags</span></a>.
		</p>
	</div>
</div>
