---
permalink: /links-tags/
layout: base.njk
---
<div class="row">
	<div class="column">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1>Monster LINK Tags</h1>

		{% for tag in collections.linkstagList %}
		{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
		<a href="{{ tagUrl | url }}" class="button-tags"><span>{{ tag }}</span></a>
		{% endfor %}
	</div>
</div>
