---
layout: base.njk
permalink: /posts-archive/
---

{% set postslist = collections.posts %}

<div class="row">
	<div class="column large-12 spacing-giant">
		{% include "tags_list.njk" %}
	</div>
</div>

{% include "postslist.njk" %}
