---
permalink: /tags/
layout: base.njk
---
<div class="row">
	<div class="column">
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<h1>Tags</h1>

		{% for tag in collections.tagList %}
		{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
		<a href="{{ tagUrl | url }}" class="button-tags">{{ tag }}<span>{{ tag }}</span></a>
		{% endfor %}
	</div>
</div>
