/////////////////////////////////////////////////@at-root
/* First, set containment on the parent you're querying*/
.card-container {
	contain: style layout inline-size;
	width: 100%;
}

.card-container {
	display: flex;
	height: 100%;
	padding-bottom: $gutter;

	&::before {
		z-index: 15;
		content: attr(data-size);
		position: absolute;
		left: 0;
		right: 0;
		top: -0.6rem;
		width: 19ch;
		margin: 0 auto;
		text-align: center;
		background: var(--brand);
		color: white;
	}
}

.card {
	display: flex;
	flex-direction: row;
	border: 3px solid var(--brand);
	background-color: var(--surface1);

	&__image {
		width: 40%;

		img {
			width: auto;
			height: 100%;
			object-fit: cover;
			margin-bottom: 0;
			border: 8px solid var(--surface2);
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: 1rem;
		height: 100%;
		width: 60%;
	}

	&__button_large {
		display: flex;
		justify-content: flex-end;
	}

	&__meta {
		background: var(--surface2);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		padding: 1rem;
		width: 100%;
	}

	&__date {
		font-size: 1.5rem;
		font-weight: 300;
	}

	&__notes {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		// background-color: yellow;
	}

	button {
		border: none;
		padding: 0.5rem;
		background: var(--text1);
		color: var(--surface1);
		font-weight: 600;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		margin-top: 1rem;
	}
}

/* End Not CQ Things */

/*
  // Container Query things are here!
  */

/* Then, you can style the parent's children based on its width */
@container (min-width: 851px) {
	.card {
		&__date {
			font-size: 1.25rem;
		}

		h2 {
			font-size: 2.2rem;
		}

		&__button_large {
			display: flex;
		}

		&__button_small {
			display: none;
		}
	}
}

@container (max-width: 850px) {
	.card {
		&__links {
			display: none;
		}

		&__date {
			font-size: 1.25rem;
		}

		h2 {
			font-size: 2.2rem;
		}

		&__button_large {
			display: flex;
		}

		&__button_small {
			display: none;
		}
	}
}

@container (max-width: 650px) {
	.card {
		&__desc {
			display: none;
		}

		h2 {
			font-size: 2rem;
		}
		&__button_large {
			display: block;
		}
		&__button_small {
			display: none;
		}
	}
}

@container (max-width: 460px) {
	.card {
		display: flex;
		flex-direction: column;

		&__button_large {
			display: none;
		}

		&__button_small {
			display: block;
		}

		&__image {
			width: 100%;
		}

		&__content {
			width: 100%;
			padding-top: 0rem;
		}

		// button {
		// 	display: block;
		// 	margin: 1rem auto 0;
		// }
	}
}

@container (max-width: 300px) {
	.card {
		&__button_large {
			display: none;
		}

		&__button_small {
			display: block;
		}
		h2 {
			font-size: 1.5rem;
		}

		&__date {
			display: none;
		}
	}
}
///////////////////////////////////////////////////////
.warning {
	max-width: 460px;
	margin: 2rem auto;
	background: #ffcebf;
	border: 1px solid tomato;
	padding: 1rem;
}

strong {
	font-weight: 800;
}

i {
	font-style: italic;
}

@supports (contain: inline-size) {
	.warning {
		display: none;
	}
}
