<div class="warning">
	<strong>Warning:</strong> Your browser does not support CSS container queries. Please open this demo in Chrome Canary with the experimental <i>#enable-container-queries</i> flag turned on.
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<section class="container_queries">
	<div class="row">

		<div class="column large-12">
			<h2 class="h1">
				{{ params.headline }}
			</h2>
		</div>

		{% for item in params.box %}
		<div class="column small-{{item.column_small}} medium-{{item.column_medium}} large-{{item.column_large}}">
			<div class="card-container card-1 cardWidth" data-size="0">
				<div class="card">
					<div>
						<img src="{{ item.img.src }}" alt="{{ item.img.alt }}">
					</div>


					<div class="card_content">
						<h2>	{{ item.headline }}</h2>
						<div class="meta">
							<div class="date">{{ item.date }}</div>
							<div class="author">{{ item.author }}</div>
							<div class="readtime">{{ item.readtime }}</div>
						</div>
						<div class="notes">
							<div class="desc">
								{{ item.bodytext | safe }}
							</div>
							<div class="links">
								<h3>Links</h3>
								<ul>
									{% for link in item.links %}
									<li>{{link.name}} → <a href="{{link.href}}">{{link.href}}</a></li>
									{% endfor %}
								</ul>
							</div>
							<button>{{item.button.content}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
https://codepen.io/una/pen/LYbvKpK
https://codepen.io/5t3ph/pen/zYNgqYp
</br>
</br>
</br>
</br>
</br>
</br>
</br>