<div class="warning">
	<strong>Warning:</strong> Your browser does not support CSS container queries. Please open this demo in Chrome Canary with the experimental <i>#enable-container-queries</i> flag turned on.
</div>
</br>
</br>
</br>
<section class="hsl_color">
	<div class="row">
		<div class="column large-12">
			<h1 class="h2">
				hsl Color Theme
			</h1>
		</div>
		<div class="column large-2">
			<div class="card hsl-0-50">0%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-20-50">20%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-40-50">40%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-60-50">60%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-80-50">80%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-100-50">100%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-50-0">0%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-50-20">20%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-50-40">40%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-50-60">60%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-50-80">80%</div>
		</div>
		<div class="column large-2">
			<div class="card hsl-50-100">100%</div>
		</div>
	</div>
</section>
</br>
</br>
</br>
</br>
<section class="container_queries">
	<div class="row">

		<div class="column large-12">
			<h2 class="h1">
				{{ params.headline }}
			</h2>
		</div>

		{% for item in params.box %}
		<div class="column small-{{item.column_small}} medium-{{item.column_medium}} large-{{item.column_large}}">
			<div class="card-container cardWidth" data-size="0">
				<div class="card">
					<div class="card__image">
						<img src="{{ item.img.src }}" alt="{{ item.img.alt }}">
					</div>


					<div class="card__content">
						<h2>	{{ item.headline }}</h2>
						<div class="card__meta">
							<div class="card__date">{{ item.date }}</div>
							<div class="card__author">{{ item.author }}</div>
							<div class="card__readtime">{{ item.readtime }}</div>
						</div>
						<div class="card__desc">
							{{ item.bodytext | safe }}
						</div>
						<div class="card__notes">

							<div class="card__links">
								<h3>Links</h3>
								<ul>
									{% for link in item.links %}
									<li>{{link.name}} → <a href="{{link.href}}">{{link.href}}</a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="card__button_large">
								<button>{{item.button.content_large}}</button>
							</div>
							<div class="card__button_small">
								<button>{{item.button.content_small}}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
</br>
</br>
</br>
</br>
</br>
</br>
</br>