<!DOCTYPE html>
	<html lang="de" >

		<head>
			<meta charset='utf-8'>
			<meta http-equiv='X-UA-Compatible' content='IE=edge'>
			<title>{{ title }}</title>
			<meta name="description" content="{{ metaDescription }}" >
			<meta name='viewport' content='width=device-width, initial-scale=1'>
			<link rel='stylesheet' type='text/css' media='screen' href='/assets/main.css'>
			<link rel="preload" href="/assets/fonts/Barlow-Light.woff" as="font" type="font/woff" crossorigin>
			<link rel="preload" href="/assets/fonts/Barlow-Medium.woff" as="font" type="font/woff" crossorigin>
			<link rel="preload" href="/assets/fonts/Barlow-Bold.woff" as="font" type="font/woff" crossorigin>
			<link rel="preload" href="/assets/fonts/Barlow-SemiBold.woff" as="font" type="font/woff" crossorigin>
			<script src='/assets/main.js'></script>
			<script>
				// Do this before the body gets parsed
				var doc = document.firstElementChild;
				if (localStorage.getItem('color-scheme') === 'dark') {
					doc.setAttribute("color-scheme", "dark");
				} else if (localStorage.getItem('color-scheme') === 'light') {
					doc.setAttribute("color-scheme", "light");
				} else {
					doc.setAttribute("color-scheme", "default");
				}
			</script>
		</head>
		<body >
			{% include "mobile_menu.njk" %}

			<div class="theme-wrapper">
				<header class="header">
					{% include "core_navigation.njk" %}
				</header>
				<div class="inset"></div>
				<main class="main_content">
					{{ content | safe }}
				</main>
				{% include "footer.njk" %}
			</div>
			<script src='/assets/vendor.js'></script>
		</body>

	</html>