---
layout: base.njk
---

<div class="row">
	<div class="column">
		<a href="../../portfolios"> <-- back to portfolio</a>
	</div>
</div>

{{ content | safe }}

<div class="row">
	<div class="column">
		<a href="../../portfolios"> <-- back to portfolio</a>
	</div>
</div>
