---
title: blog
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /blog.html
description: blog
eleventyNavigation:
  key: blog
  order: 1
---
{% set maxPosts = collections.posts.length | min(1) %}
{% set postslist = collections.posts | head(-1) %}
{% set postslistCounter = collections.posts | length %}




<div class="row">
	<div class="column large-12 spacing-giant">
		<!-- <h1>{{ title }}</h1>
		Headline hero -->
		<img src="./assets/images/photography/black/Black_002.jpg" alt="">
	</div>
</div>
<div class="row spacing-giant">
	<div class="column medium-6 large-4 huge-4 spacing-medium">
		{% include "tags_list.njk" %}
	</div>
	<div class="column medium-6 large-8 huge-8">
		<h2 class="h2 spacing-medium">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h2>
		<div class="section_d2d_test">
			<div class="row">
				{% for post in postslist %}

					<div class="column large-12">
						<div class="section_d2d_test__box_container">
							<div class="section_d2d_test__box">
								<!-- <div class="section_d2d_test__box_image">
									<img src="{{ post.data.featuredImage | url }}" alt="{{ post.data.featuredImage }}">
								</div> -->
								<div class="section_d2d_test__box_content">
									<h5 class="h5">{{ post.data.title2 }}</h5>
									<div class="h3">
										{{ post.data.title }}
									</div>
									{{ post.data.description}}

									<!-- <div class="{{ item.button.style }}">{{ item.button.content }}</div> -->
								</div>
								<div class="section_d2d_test__box_content_footer">
									<a class="button-post button-post--greip" href="{{ post.url | url}}">
										<span>
											<span>read more</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>

		<p>More posts can be found in <a class="link-nav link-nav--helike" href="{{ '/posts-archive/' | url }}"><span>the archive</span></a>.</p>
	</div>
</div>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}