---
title: ztest
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /container-querry.html
description: asdfasdfsdf
headline: lorem Headline
bodytext: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
eleventyNavigation:
  key: container-querry
  order: 1
---
{%- from "system/component.njk" import component -%}
{{ component('section_container_queries', {
	headline: 'hsl Color Theme',
	box: [
	  {
		column_large: '6',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/700/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_1',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '3',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/701/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_2',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '3',
		column_medium: '12',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/702/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_3',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '4',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: '../assets/images/hsl-color-wheel.png',
		  alt: 'Alternative text bild'
		},
		headline: 'box_4',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '8',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/704/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_5',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '12',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/705/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_6',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'mixin',
				href: 'https://sass-lang.com/documentation/at-rules/mixin',
				target: '_blank'
			}
		  ]
	  }
	]
  }) }}
{{ component('section_container_queries', {
	headline: 'container_queries',
	box: [
	  {
		column_large: '6',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/700/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_1',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '3',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/701/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_2',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '3',
		column_medium: '12',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/702/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_3',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '4',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/703/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_4',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '8',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/704/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_5',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  },
	  {
		column_large: '12',
		column_medium: '6',
		column_small: '12',
		img: {
		  src: 'https://picsum.photos/1000/705/?random',
		  alt: 'Alternative text bild'
		},
		headline: 'box_6',
		date: "12.12.21",
		readtime: 5,
		author: 'max mustermann',
		bodytext: '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste pariatur reprehenderit et, sint beatae suscipit dolor velit, placeat, molestiae corporis voluptate. Autem magni illo et tenetur velit officiis nesciunt fugiat!</p>',
		button: {
		  style: 'button-tags',
		  content_large: 'Viel viel Mehr erfahren',
		  content_small: 'Mehr'
		},
		links: [
			{
				name: 'Media Queries',
				href: 'http://goo.gle/2MhYfR2',
				target: '_blank'
			},
			{
				name: 'The display-mode media feature',
				href: 'http://goo.gle/2NoFr3c',
				target: '_blank'
			},
			{
				name: 'Prefers-* Security and Privacy',
				href: 'http://goo.gle/3kfwUM0',
				target: '_blank'
			},
			{
				name: 'CSS Color Adjustment',
				href: 'http://goo.gle/3qLkduJ',
				target: '_blank'
			},
			{
				name: 'Scripting',
				href: 'http://goo.gle/2Mdan5E',
				target: '_blank'
			}
		  ]
	  }
	]
  }) }}