---
title: dots
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /dots.html
description: OstStern 123
---
<div class="description panel blue">
  
    <div class="scroll-down">Scroll down<div class="arrow"></div></div>
    <div class="circle_blue_001"></div>
    
</div>

<section class="panel red">
	<!-- ONE -->
  <!-- <p><span class="line line-1"></span>This orange panel gets pinned when its top edge hits the top of the viewport, then the line's animation is linked with the scroll position until it has traveled 100% of the viewport's height (<code>end: "+=100%"</code>), then the orange panel is unpinned and normal scrolling resumes. Padding is added automatically to push the rest of the content down so that it catches up with the scroll when it unpins. You can set <code>pinSpacing: false</code> to prevent that if you prefer.</p> -->
  <div class="circle_red_001"></div>
  <div class="circle_red_002"></div>
  <div class="circle_red_003"></div>
  <div class="circle_red_004"></div>
  <div class="circle_red_005"></div>
</section>
<section class="panel orange">
  <div class="circle_orange_001"></div>
  <div class="circle_orange_102"></div>
  <div class="circle_orange_202"></div>
  <div class="circle_orange_302"></div>
  <div class="circle_orange_402"></div>
  <div class="circle_orange_002"></div>
  <div class="circle_orange_003"></div>
  <div class="circle_orange_004"></div>
  <div class="circle_orange_005"></div>
  <div class="circle_orange_006"></div>
  <div class="circle_orange_007"></div>
  <div class="circle_orange_008"></div>
  <div class="circle_orange_009"></div>
</section>
<section class="panel purple">
	THREE
</section>
<section class="panel green">
	FOUR
</section>
