---
title: OstStern 123
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /ost_123.html
description: OstStern 123
eleventyNavigation:
  key: OstStern-123
  order: 1
---


<div id="map" class="maps"></div>
<nav id="filter-group" class="filter-group"></nav>
<div id="test1" class="section test">
  <div class="row">
    <div class="column large-6">
      <div class="test__content">
        <h1 class="" >Hello world</h1>
        <h2>hello world 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
      </div>
    </div>
    <div class="column large-3">
      <img class="" src="https://picsum.photos/1000/1800/?random" alt="">
    </div>
    <div class="column large-3">
      <img class="" src="https://picsum.photos/1000/1700/?random" alt="">
    </div>
  </div>
</div>

<div id="test2" class="section test2">
  <div class="row">
    <div class="column large-2">
      <img src="https://picsum.photos/1000/1800/?random" alt="">
    </div>
    <div class="column large-9">
      <div class="test2__content">
        <h1>Hello world</h1>
        <h2>hello world 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
        <button class="button">Hello</button>
      </div>
    </div>
    <div class="column large-1">
      <img src="https://picsum.photos/1000/1700/?random" alt="">
    </div>
  </div>
</div>