---
title: Markus Morley
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /index.html
description: Markus Morley
headline: lorem Headline
bodytext: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
image_src: https://picsum.photos/1000/1800/?random
<!-- eleventyNavigation:
  key: home
  order: 1 -->
---

<!-- {# Main_teaser #}
{# {% include "section_lage.njk" %} #} -->
{%- from "system/component.njk" import component -%}
<div class="sticky_hero">
	<!-- <h1>
		MARKUS MORLEY
	</h1> -->
	<div class="row">
		<div class="column large-8">
			<div class="h5">about.me</div>
			<h2 class="h2">Hi, i am Markus Morley.</h2>
			<h3 class="h3">I’m Coding Digital Experiences & Interfaces</h3>
			<h4 class="h4">Desiging, living and working in Frankfurt am Main.</h4>
			<p> i love design. build ux prototypes.
				develop frontend components for atomic design. develop and create digital projects for a large scale approach.
			</p>
			<div>
				<div class="about-page__social">
					<a href="https://www.instagram.com/yelrom_/">instagram</a>
					<a href="https://github.com/gasseklopper">github</a>
				</div>
			</div>
		</div>
	</div>
	<!-- <canvas id="canvas"></canvas> -->
</div>
<div class="sticky_hero_spacer"></div>
{% set portfolioslist = collections.portfolios %}
<nav class="menu" >
	{% for post in portfolioslist %}
		<a href="{{ post.url | url}}" class="menu__item" data-img="{{ post.data.featuredImage | url }}" >
			<span class="menu__item-text"><span class="menu__item-textinner">{{ post.data.title }}</span></span>
			<span class="menu__item-sub">{{ post.data.description}}</span>
		</a>
	{% endfor %}
</nav>


<div class="hero_goldengrid">
  <div class="one">One</div>
  <div class="two">
    two
    <!-- <img src="./assets/images/architektur_image.jpg" alt=""> -->
  </div>
  <div class="three color-light-color"><h1 class="h1">Markus Morley </br> Frontend Developer</h1></div>
  <div class="four">Four</div>
  <div class="five">Five</div>
  <div class="six">Six</div>
  <div class="seven">Seven</div>
  <div class="eight">EIght</div>
  <div class="nine">Nine</div>

</div>
