---
title: ztest
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /test_22.html
description: asdfasdfsdf
headline: lorem Headline
bodytext: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
image_src: https://picsum.photos/1000/1800/?random
eleventyNavigation:
  key: test
  order: 1
---
<div class="footer_bubbles">
	<canvas class="footer_bubbles__canvasbg"></canvas>
	<canvas class="footer_bubbles__canvas"></canvas>
	<footer class="footer_bubbles__footer">
		<span>*** Footer text here ***</span>
	</footer>
	<svg>
		<defs>
			<filter id="goo">
				<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
				<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
				<feBlend in="SourceGraphic" in2="goo" />
			</filter>
		</defs>
	</svg>
</div>
