.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 444;
}

.core_navigation {
	background-color: transparent;
	color: var(--text1);
	opacity: 1;
	width: 100%;
	height: $headerHeight;
	display: block;

	@media (max-width: $bpM) {
		// height: $headerHeightMobile;
	}

	a {
		color: var(--text1);
		font: $fontStackBarlowSemibold;
		letter-spacing: 0.3px;
		font-size: 1.1rem;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	&__brand_link {
	}

	&__brand {
		display: flex;
		flex-direction: row;
		height: $headerHeight;
		align-items: center;
		// background-color: green;
		&::before {
			position: absolute;
			top: 37%;
			left: 176px;
			content: "back home";
			opacity: 0;
		}
		&:hover {
			// background-color: yellow;
			&::before {
				opacity: 1;
				position: absolute;
				top: 37%;
				left: 146px;
				transition: all 0.3s linear;
			}
		}

		img {
			margin: 0;
		}
	}

	&__links_item {
		@media (max-width: $bpS) {
			display: none;
		}
	}

	&__color_switch {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&__links_container {
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__sprungmarken {
		height: $headerHeight;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		a {
			text-decoration: none;
			padding-left: 30px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
