.footer-dark {
	margin-top: 8rem;

	a {
		color: var(--text1);
		transition: transform 1.3s;
		font: $fontStackBarlowMedium;
		font-size: 1rem;

		&:hover {
			transform: scale(1.2);
		}
	}

	&__hero {
		position: relative;
		height: 800px;
	}

	&__image-001 {
		position: absolute;
		top: 10%;
		left: 50%;
		z-index: 1;
		transition: transform 1.3s;
		img {
			margin: 0;
		}

		&:hover {
			transform: scale(1.2);
		}
	}

	&__image-002 {
		position: absolute;
		width: 500px;
		top: -0%;
		left: -10%;
		z-index: 1;
		transition: transform 3s;

		img {
			margin: 0;
		}

		&:hover {
			transform: scale(1.2);
		}
	}

	&__navigation {
		position: relative;
		padding-top: 15rem;
		z-index: 14;
	}

	&__scrollToTop {
		color: var(--text1);
		cursor: pointer;
		font: $fontStackBarlowMedium;
		font-size: 1rem;
	}

	&__link {
		text-align: center;

		line-height: 2.8rem;

		a {
			font-size: 3rem;
			color: var(--text1);
			transition: font-size 1.3s;

			&:hover {
				font-size: 5rem;
				transform: scale(1.2);
			}
		}
	}

	&__copyright {
		display: flex;
		justify-content: space-between;
		margin: 1.4rem;
	}
}
