.sticky_hero {
	background-color: var(--surface1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	z-index: -0;
	h1 {
		opacity: 1;
		margin-top: 20vh;
		text-align: center;
		font-size: 8rem;
		line-height: 120px;
		-webkit-text-stroke: 1px black;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
	@media (max-width: $bpM) {
		h1 {
			font-size: 6rem;
			line-height: 90px;
		}
	}
}
.sticky_hero_spacer {
	opacity: 0.7;
	border-top: var(--text1) solid 2px;
	margin-top: 400px;
	padding-top: 6rem;
	position: relative;
	background-color: var(--surface1);
	z-index: 10;
}
