body {
	background: var(--surface1);
	color: var(--text1);
	// transition: all 0.3s linear;
	// Set the min-height to 100% to fill the whole page with a
	// gradient when the body has a background gradient.
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// height: 100%;
	// overflow: overlay;

	// Better font rendering for Webkit and Firefox
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
}
