@use "sass:math";

.post-tag {
	display: inline-block;
	padding: $gutter/4;
	font: $fontStackBarlowBold;
	margin: math.div($gutter, 8) 0 math.div($gutter, 8) math.div($gutter, 8);
	background-color: var(--text2);
	color: var(--surface4);
	transition: transform 0.3s linear;
	&:hover {
		transform: scale(1.1);
		color: var(--text1);
		background-color: transparent;
	}
}
