---
title: Buttons
layout: styleguide/button.njk
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /styleguide/fundamentals/button.html
description: button
---


<div class="row">
    <div class="column large-12">
        <h5 class="h5">ELEMENTS</h5>
        <h1 class="h1">Buttons</h1>
    </div>
    <div class="column large-12">
        <h2 class="h2">Buttons</h2>
        <p>Buttons include simple button styles for actions in different types and sizes.</p>
    </div>
</div>

<div class="sg-buttons">
    <div class="row">
        <div class="column large-12">
            <div class="button">Button test text</div>
        </div>
    </div>
</div>