---
title: cards
layout: styleguide/cards.njk
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /styleguide/fundamentals/cards.html
description: cards
---


<div class="row">
    <div class="column large-12">
        <h5 class="h5">FUNDAMENTALS</h5>
        <h1 class="h1">Grid</h1>
    </div>
    <div class="column large-12">
        <h2 class="h2">Grid system</h2>
        <p>The grid system should be used for creating page layouts through a series of columns that contain your content. The system is responsive and works with every screen size, its columns scale proportionally according to screen sizes. The grid has a maximum 12 columns a minimum of 4 columns. If your design requires less than 12 columns reduce the amount only by even numbers.</p>
    </div>
</div>

<div class="section">
    <div class="row">
        <div class="column large-12">
            <div class="sg-card rad-shadow">
               <div class="sg-card__image">

               </div>
               <div class="sg-card__avatar">
                avatar
               </div>
               <div class="sg-card__box">
                <div class="sg-card__headline">
                    <div class="h1">headline</div>
                </div>
                <div class="sg-card__content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus non quibusdam commodi quasi eius excepturi expedita deserunt neque. Commodi sit saepe atque odit, ipsam tempore! Culpa sed quod tempore?
                    </p>

                </div>
                <div class="sg-card__footer">
                    footer
                </div>
               </div>
            </div>
        </div>
    </div>
</div>