---
title: Colors
layout: styleguide/colors.njk
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /styleguide/fundamentals/colors.html
description: Colors
headline: lorem Headline
bodytext: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
image_src: https://picsum.photos/1000/1800/?random
---


<div class="row">
    <div class="column large-12">
        <h5 class="h5">FUNDAMENTALS</h5>
        <h1 class="h1">Color</h1>
    </div>
    <div class="column large-12">
        <h2 class="h2">Color Palette</h2>
        <p>Primary brand colors are used for elements that must reflect the brand. Each color has a darker and a lighter shade.</p>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color surface2">
                <div class="sg-color-card__color-text text2">
                    Surface2
                </div>
            </div>
            <div class="sg-color-card__content ">
                Surface2
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color surface3">
                <div class="sg-color-card__color-text text2">
                    Surface3
                </div>
            </div>
            <div class="sg-color-card__content ">
                Surface3
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color surface4">
                <div class="sg-color-card__color-text text2">
                    Surface4
                </div>
            </div>
            <div class="sg-color-card__content ">
                Surface4
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color surface5">
                <div class="sg-color-card__color-text text1">
                    Surface5
                </div>
            </div>
            <div class="sg-color-card__content ">
                Surface5
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color surface6">
                <div class="sg-color-card__color-text text1">
                    surface6
                </div>
            </div>
            <div class="sg-color-card__content ">
                surface6
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color surface7">
                <div class="sg-color-card__color-text text1">
                    surface7
                </div>
            </div>
            <div class="sg-color-card__content ">
                surface7
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color surface8">
                <div class="sg-color-card__color-text text1">
                    Surface8
                </div>
            </div>
            <div class="sg-color-card__content ">
                Surface8
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color primary">
                <div class="sg-color-card__color-text text1">
                    primary
                </div>
            </div>
            <div class="sg-color-card__content ">
                primary
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color secondary">
                <div class="sg-color-card__color-text text1">
                    secondary
                </div>
            </div>
            <div class="sg-color-card__content ">
                secondary
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color tertiary">
                <div class="sg-color-card__color-text text1">
                    tertiary
                </div>
            </div>
            <div class="sg-color-card__content ">
                tertiary
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color quaternary">
                <div class="sg-color-card__color-text text1">
                    quaternary
                </div>
            </div>
            <div class="sg-color-card__content ">
                quaternary
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color background-primary-dark">
                <div class="sg-color-card__color-text">
                    #0d162a
                </div>
            </div>
            <div class="sg-color-card__content ">
                primary-dark
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color background-primary-light">
                <div class="sg-color-card__color-text">
                    #1f3769
                </div>
            </div>
            <div class="sg-color-card__content ">
                primary-light
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color background-secondary">
                <div class="sg-color-card__color-text">
                    #3c83a0
                </div>
            </div>
            <div class="sg-color-card__content ">
                secondary
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color background-secondary-dark">
                <div class="sg-color-card__color-text">
                    #387a95
                </div>
            </div>
            <div class="sg-color-card__content ">
                secondary-dark
            </div>
        </div>
    </div>
    <div class="column small-12 medium-4 large-4">
        <div class="sg-color-card">
            <div class="sg-color-card__color background-secondary-light">
                <div class="sg-color-card__color-text">
                    #63a5bf
                </div>
            </div>
            <div class="sg-color-card__content ">
                secondary-light
            </div>
        </div>
    </div>
</div>