---
title: Colors
layout: styleguide/colors-shemes.njk
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /styleguide/fundamentals/colors-shemes.html
description: Colors shemes
headline: lorem Headline
bodytext: <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste veniam rem odit et corrupti eaque, praesentium in ex suscipit ipsam reiciendis velit adipisci magnam? Sit officiis rerum eos aliquam!</p>
image_src: https://picsum.photos/1000/1800/?random
---




<div class="row">
    <div class="column large-12">
        <h5 class="h5">FUNDAMENTALS</h5>
        <h1 class="h1">Color</h1>
    </div>
    <div class="column large-12">
        <h2 class="h2">Color Palette</h2>
        <p>Primary brand colors are used for elements that must reflect the brand. Each color has a darker and a lighter shade.</p>
    </div>
</div>

<div class="row">
    <div class="column large-12">
        <form id="theme-switcher">
            <div>
              <input checked type="radio" id="auto" name="theme" value="auto">
              <label for="auto">Auto</label>
            </div>
            <div>
              <input type="radio" id="light" name="theme" value="light">
              <label for="light">Light</label>
            </div>
            <div>
              <input type="radio" id="dark" name="theme" value="dark">
              <label for="dark">Dark</label>
            </div>
            <div>
              <input type="radio" id="dim" name="theme" value="dim">
              <label for="dim">Dim</label>
            </div>
          </form>
          <section>
            <div class="surface-samples">
              <div class="surface1 rad-shadow">1</div>
              <div class="surface2 rad-shadow">2</div>
              <div class="surface3 rad-shadow">3</div>
              <div class="surface4 rad-shadow">4</div>
              <div class="surface5 rad-shadow">5</div>
              <div class="surface6 rad-shadow">6</div>
              <div class="surface7 rad-shadow">7</div>
              <div class="surface8 rad-shadow">8</div>
              <div class="brand-core rad-shadow">brand core</div>
              <div class="brand-inverted-highlight1 rad-shadow">9</div>
              <div class="brand-inverted-highlight2 rad-shadow">10</div>
              <div class="primary rad-shadow">1</div>
              <div class="secondary rad-shadow">2</div>
              <div class="tertiary rad-shadow">3</div>
              <div class="quaternary rad-shadow">4</div>
              <div class="primary rad-shadow">5</div>
              <div class="primary rad-shadow">6</div>
              <div class="primary rad-shadow">7</div>
              <div class="primary rad-shadow">8</div>
            </div>
          </section>

          <section>
            <div class="text-samples">
              <h1 class="textBrand">
                <span class="swatch brand rad-shadow"></span>
                Brand
              </h1>
              <h1 class="brand-core">
                <span class="swatch brand-core rad-shadow"></span>
                Brand-Core
              </h1>
              <h1 class="text1">
                <span class="swatch text1 rad-shadow"></span>
                Text Color 1
              </h1>
              <h1 class="text2">
                <span class="swatch text2 rad-shadow"></span>
                Text Color 2
              </h1>
              <br>
              <p class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <p class="text2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </section>
    </div>
</div>