---
title: grid
layout: styleguide/grid.njk
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /styleguide/fundamentals/grid.html
description: grid
---


<div class="row">
    <div class="column large-12">
        <h5 class="h5">FUNDAMENTALS</h5>
        <h1 class="h1">Grid</h1>
    </div>
    <div class="column large-12">
        <h2 class="h2">Grid system</h2>
        <p>The grid system should be used for creating page layouts through a series of columns that contain your content. The system is responsive and works with every screen size, its columns scale proportionally according to screen sizes. The grid has a maximum 12 columns a minimum of 4 columns. If your design requires less than 12 columns reduce the amount only by even numbers.</p>
    </div>
</div>

<div class="sg-grid">
    <div class="row">
        <div class="column large-12">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-6">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-6">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-4">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-4">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-4">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-3">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-3">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-3">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-3">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-2">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-2">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-2">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-2">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-2">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-2">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
        <div class="column large-1">
            <div class="sg-grid__box"></div>
        </div>
    </div>
</div>