---
title: Links
layout: styleguide/links.njk
metaDescription: This is a sample meta description. If one is not present in
  your page/post's front matter, the default metadata.desciption will be used
  instead.
date: 2017-01-01T00:00:00.000Z
permalink: /styleguide/fundamentals/links.html
description: links
---


<div class="row">
    <div class="column large-12">
        <h5 class="h5">ELEMENTS</h5>
        <h1 class="h1">Links</h1>
    </div>
    <div class="column large-12">
        <h2 class="h2">Links</h2>
        <p>Links are used primarily for navigational elements. Links may also be used for actions with lower priorities, but then only in combination with a higher prioritized button.</p>
    </div>
</div>

<div class="sg-buttons">
    <div class="row">
        <div class="column large-12">
           <a href="">Link</a>
        </div>
    </div>
</div>