
<div class="sg-navigation">
    <h2 class="h2">
        Styleguide
    </h2>
    <form id="theme-switcher">
        <div>
          <input checked type="radio" id="auto-core" name="theme" value="auto">
          <label for="auto-core">Auto</label>
        </div>
        <div>
          <input type="radio" id="light-core" name="theme" value="light">
          <label for="light-core">Light</label>
        </div>
        <div>
          <input type="radio" id="dark-core" name="theme" value="dark">
          <label for="dark-core">Dark</label>
        </div>
        <div>
          <input type="radio" id="dim-core" name="theme" value="dim">
          <label for="dim-core">Dim</label>
        </div>
      </form>
    <h5 class="h5">
        Fundamentals
    </h5>
    <div class="sg-navigation__items spacing-large">
        <div class="sg-navigation__item">
            <a href="../fundamentals/colors.html">Colors</a>
            <a href="../fundamentals/typography.html">Typogrpahy</a>
            <a href="../fundamentals/grid.html">Grid</a>
            <a href="../fundamentals/colors-shemes.html">Colors shemes</a>
            <a href="../fundamentals/cards.html">Cards</a>
        </div>
    </div>
    <h5 class="h5">
        Elements
    </h5>
    <div class="sg-navigation__items">
        <div class="sg-navigation__item">
            <a href="../fundamentals/button.html">Buttons</a>
            <a href="../fundamentals/links.html">Links</a>
            <a href="../fundamentals/cards.html">Cards</a>

        </div>
    </div>
</div>