---
permalink: /tags/
layout: base.njk
---
<div class="row">
	<div class="column">
		<h1>Tags</h1>

		{% for tag in collections.tagList %}
		{% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
		<a href="{{ tagUrl | url }}" class="tag-list__button tag-list__button--mimas"><span>{{ tag }}</span></a>
		{% endfor %}
	</div>
</div>