---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: base.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

<div class="row">
	<div class="column">
	<br>
	<br>
	<br>
		<h1>Tagged “{{ tag }}”</h1>

		{% set postslist = collections[ tag ] %}
		{% include "postslist.njk" %}

		<p>
			See <a class="link-nav link-nav--helike" href="{{ '/tags/' | url }}"><span>all tags</span></a>.
		</p>
	</div>
</div>
