<footer>
	<div class="footer_bubbles">
		<canvas class="footer_bubbles__canvasbg"></canvas>
		<canvas class="footer_bubbles__canvas"></canvas>
		<footer class="footer_bubbles__footer">
			<div class="footer_bubbles__copyright">
				<!-- <div class="footer_bubbles__instagramm">
					<a
						href="https://www.instagram.com/yelrom_/"
						target="_blank"
						>instagram</a
					>
				</div> -->
				<div class="footer_bubbles__owner">
					<a href="/">© 2021 Markus Morley</a>
				</div>
				<div class="footer_bubbles__scrollToTop">
					<div class="scrollToTopButton-js">scroll to top</div>
				</div>
			</div>
		</footer>

		<svg>
			<defs>
				<filter id="goo">
					<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
					<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
					<feBlend in="SourceGraphic" in2="goo" />
				</filter>
			</defs>
		</svg>
	</div>

</footer>