<section class="tag-list">
	<h2 class="h2 spacing-medium">Tags</h2>
	{% for tag in collections.tagList %}
	<div class="">link tag {{ tag }}</div>
		{% for post in linkslist %}
			{% for linktag in post.data.tags %}
				{% if tag === linktag %}
					<div class="">{{ post.data.title }}</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
</section>

<section class="tag-list">
	<h2 class="h2 spacing-medium">Tags</h2>
	{% for tag in collections.tagList %}
	<div class="h4">{{ tag }}</div>
		{% for post in linkslist %}
			{% for linktag in post.data.tags %}
				{% if tag === linktag %}
				<div class="tag-list__box_container rad-shadow">
					<div class="tag-list__box_links {% if post.data.highlight == true %}tag-list__box--reverse{% endif %} ">
						<div class="tag-list__box_content">
							<div class="h3">
								{{ post.data.title }}
							</div>
						</div>
						<div class="tag-list__box_content_footer tag-list__box_content_footer--postlist">
							<a class="button-post button-post" href="{{ post.url | url}}">
								<span>
									<span>Go to link</span>
								</span>
							</a>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
</section>
