<div class="mobile_menu_button">
    <a href="#test" class="menu-button" id="menuButton">
		click me
        <span class="burger-icon"></span>
    </a>
</div>

<div class="mobile_menu">
    <div class="mobile_menu__wrapper">
        <div class="row">
            <div class="column small-12">
                <div class="">
					<div class="mobile_menu__item_outer_wrapper">
						{% set navPages = collections.all | eleventyNavigation %}
						<div class="mobile_menu__item_wrapper">
							{%- for entry in navPages %}
								{% if entry.url == page.url %}
									<div class="mobile_menu__link_active" {% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</div>
								{% else %}
									<a class="mobile_menu__link" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}><span>{{ entry.title }}</span></a>
								{% endif %}
							{%- endfor %}
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>