<div class="mobile_menu_button">
    <a href="#test" class="menu-button" id="menuButton">
		click me
        <span class="burger-icon"></span>
    </a>
</div>

<div class="mobile_menu">
    <div class="mobile_menu__wrapper">
        <div class="row">
            <div class="column small-12">
                <div class="mobile_menu__item_wrapper">
					<div class="core_navigation__links">
						{% set navPages = collections.all | eleventyNavigation %}
						<div class="">
							{%- for entry in navPages %}
							<div class=""  data-text="{{ entry.title }}">
							{% if entry.url == page.url %}
								<div class="" {% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</div>
							{% else %}
								<a class="" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}><span>{{ entry.title }}</span></a>
							{% endif %}
							</div>
							{%- endfor %}
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>