<div class="mobile_menu_button">
    <a href="" class="menu-button" id="menuButton">
        <span class="burger-icon"></span>
    </a>
</div>

<div class="mobile_menu">
    <div class="mobile_menu__wrapper">
        <div class="row">
            <div class="column small-6">
                <img src="../assets/images/logo/Oststern_123.svg" alt="">
            </div>
            <div class="column small-6">
                <div class="mobile_menu__button_wrapper">
                    <div class="button">123</div>
                    <div class="button">121</div>
                </div>
            </div>
            <div class="column small-12">
                <div class="mobile_menu__item_wrapper">
                    <a href="#intro">Intro</a>
                    <a href="#lage">Lage</a>
                    <a href="#entwurf">Entwurf</a>
                    <a href="#keyfacts">Keyfacts</a>
                    <a href="#downloads">Downloads</a>
                    <a href="#kontakt">Kontakt</a>
                    <a href="">Impressum</a>
                    <a href="">Datenschutz</a>
                </div>
            </div>
        </div>
    </div>
</div>