<div class="row">
	<div class="column large-12">
		<div class="section_d2d_test">
			<div class="row">
				{% for post in postslist %}
					<div class="column medium-6 large-4 huge-3 sameHeight">
						<div class="section_d2d_test__box_container">
							<div class="section_d2d_test__box">
								<div class="section_d2d_test__box_image">
									<!-- <img src="{{ post.data.featuredImage | url }}" alt="{{ post.data.featuredImage }}"> -->
								</div>
								<div class="section_d2d_test__box_content">
									<p class="h5">{{ post.data.title2 }}</p>
									<div class="h3">
										{{ post.data.title }}
									</div>
									<p class="p-large">
										{{ post.data.description }}
									</p>
								</div>
								<div class="section_d2d_test__box_content_footer">
									<a class="button-post button-post--greip" href="{{ post.url | url}}">
										<span>
											<span>read more</span>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
