<div class="section section_ausstattung">
  <div class="row">
    <div class="column large-push-1 large-10">
      <h2 class="h1 color-secondary">Ausstattung</h2>
      <!-- <img src="./assets/images/facts_erreichbarkeit.svg" alt=""> -->
      <div class="timeline_section_ausstattung">
        <div class="timeline_section_ausstattung__001 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay=".31s">
          <div class="timeline_section_ausstattung__001_text">
            <div class="h2">
              DGNB Gold
            </div>
            <p>Zertifizierung</p>
          </div>
          <div class="timeline_section_ausstattung__001_icon">
            <img src="../assets/images/icons/dgnb_ausstattung.svg" alt="">           
          </div>
        </div>
        <div class="timeline_section_ausstattung__002 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay=".61s">
          <div class="timeline_section_ausstattung__002_text">
            <div class="h2">
              Heiz-Kühldecken
            </div>
          </div>
          <div class="timeline_section_ausstattung__002_icon">
            <img src="../assets/images/icons/icons8-heating_ausstattung.svg" alt="">
          </div>
        </div>
        <div class="timeline_section_ausstattung__003 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay=".91s">
          <div class="timeline_section_ausstattung__003_text">
            <div class="h2">
              Mechanische Be- und Entlüftung
            </div>
            <p>Komfortlüftung</p>
          </div>
          <div class="timeline_section_ausstattung__003_icon">
            <img src="../assets/images/icons/icons8-air_shaft_ausstattung.svg" alt="">
          </div>
        </div>
        <div class="timeline_section_ausstattung__004 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay="1.21s">
          <div class="timeline_section_ausstattung__004_text">
            <div class="h2">
              Doppel- und Hohlraumboden
            </div>
            <p>mit flexiblen Bodentanks</p>
          </div>
          <div class="timeline_section_ausstattung__004_icon">
            <img src="../assets/images/icons/icons8-reinforced_concrete_ausstattung.svg" alt="">
          </div>
        </div>
        <div class="timeline_section_ausstattung__005 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay="1.21s">
          <div class="timeline_section_ausstattung__005_text">
            <div class="h2">
              außenliegender Sonnenschutz
            </div>
            <p>Elektrisch betrieben</p>
          </div>
          <div class="timeline_section_ausstattung__005_icon">
            <img src="../assets/images/icons/icons8-sun_ausstattung.svg" alt="">
          </div>
        </div>
        <div class="timeline_section_ausstattung__006 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay="1.21s">
          <div class="timeline_section_ausstattung__006_text">
            <div class="h2">
              Elektro&shytankstellen
            </div>
            <p>Für PKW- und E-Bike</p>
          </div>
          <div class="timeline_section_ausstattung__006_icon">
            <img src="../assets/images/icons/icons8-charging_station_ausstattung.svg" alt="">
          </div>
        </div>
        <div class="timeline_section_ausstattung__007 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay="1.21s">
          <div class="timeline_section_ausstattung__007_text">
            <div class="h2">
              1,35 m
            </div>
            <p>Achsmaß</p>
          </div>
          <div class="timeline_section_ausstattung__007_icon">
            <img src="../assets/images/icons/icons8-depth_ausstattung.svg" alt="">
          </div>
        </div>
        <div class="timeline_section_ausstattung__008 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay="1.21s">
          <div class="timeline_section_ausstattung__008_text">
            <div class="h2">
              ca. 3,0 m
            </div>
            <p>Lichte Raumhöhe im Bürobereich</p>
          </div>
          <div class="timeline_section_ausstattung__008_icon">
            <img src="../assets/images/icons/icons8-height_ausstattung.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

