<div class="section section_slider_001">
  
      <div class="carousel" data-flickity='{ "fullscreen": true }'>
        <div class="carousel-cell section_slider_001__image_1">
          test text
        </div>
        <div class="carousel-cell section_slider_001__image_2">
          test text
        </div>
        <div class="carousel-cell section_slider_001__image_3">
          test text
        </div>
        <div class="carousel-cell section_slider_001__image_4">
          test text
        </div>
      </div>

</div>