<div class="section section_bueroflaechen">
  <div class="row">
    <div class="column large-push-1 large-10">
      <div class="section_bueroflaechen__box">
        <div class="h2 section_bueroflaechen__intro">
          Buroflächen 121
        </div>
        <div class="section_bueroflaechen__box_wrapper">
          <div class="section_bueroflaechen__box_left">
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                EG
              </div>
              <div class="">
                519,44 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                1. OG
              </div>
              <div class="">
                1.096,18 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                2. OG
              </div>
              <div class="">
                1.135,09 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                3. OG
              </div>
              <div class="">
                1.135,09 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                4. OG
              </div>
              <div class="">
                1.135,09 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                5. OG
              </div>
              <div class="">
                1.135,09 m<sup>2</sup>
              </div>
            </div>
            <div class="section_bueroflaechen__box_left_item">
              <div class="">
                6. OG
              </div>
              <div class="">
                1.135,09 m<sup>2</sup>
              </div>
            </div>
          </div>
          <div class="section_bueroflaechen__box_right">
            <div class="section_bueroflaechen__box_right_wrapper">
              <div class="section_bueroflaechen__box_right_top">
                <div class="section_bueroflaechen__box_right_top_item">
                  <p>Gebäudeart:</p>
                  <p class="color-secondary">Büroneubau</p>
                </div>
                <div class="section_bueroflaechen__box_right_top_item">
                  <p>Architekt:</p>
                  <p class="color-secondary">Jo. Franzke Generalplaner, Frankfurt</p>
                </div>
                <div class="section_bueroflaechen__box_right_top_item">
                  <p>Fertigstellung:</p>
                  <p class="color-secondary">3. Quartal 2022</p>
                </div>
              </div>
              <div class="section_bueroflaechen__box_right_bottom">
                <div class="section_bueroflaechen__box_right_bottom_item">
                  <p>Grundstücksgröße</p>
                  <p>3.069 m<sup>2</sup></p>
                </div>
                <div class="section_bueroflaechen__box_right_bottom_item">
                  <p>EZH-Flächen EG</p>
                  <p>350,00 m<sup>2</sup></p>
                </div>
                <div class="section_bueroflaechen__box_right_bottom_item">
                  <p>Lagerflächen</p>
                  <p>234,74 m<sup>2</sup></p>
                </div>
                <div class="section_bueroflaechen__box_right_bottom_item">
                  <p>PKW-Stellplätze TG</p>
                  <p>89 St.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>