<div class="section_erholung">
  <div class="row">
    <div class="column large-3 sameHeight">
      <div class="section_erholung__left_wrapper">
        <div class="section_erholung__left_top_content">
          <div class="h2">
            Erholung
          </div>
          <p>Das Freizeitangebot, mit dem 
300m entfernt liegenden Hafenpark, Sportplätzen sowie diverse Fitnessstudios in unmittelbarer Nähe, ist unschlagbar.</p>
        <div class="button">Zur Karte</div>
        </div>
        <div class="section_erholung__left_bottom_content">
          <div class="section_erholung__left_bottom_content_image">
            <img src="./assets/images/Ostpark3_image.jpg" alt="">
          </div>
        </div>
      </div>
      
    </div>
    <div class="column large-4 sameHeight">
      <div class="section_erholung__middle_wrapper">
        <div class="section_erholung__middle_top_content">
          <div class="section_erholung__middle_top_content_item">
            <p class="section_erholung__middle_top_content_item_first">300 m</p>
            <div class="section_erholung__middle_top_content_item_middle">
              <svg xmlns="http://www.w3.org/2000/svg" width="39.927" height="20" viewBox="0 0 39.927 20">
                <path id="icons8-right_arrow" d="M30.988,12.98a1.666,1.666,0,0,0-1.27,2.811l5.111,5.524H2.659a1.664,1.664,0,1,0,0,3.327h32.17l-5.111,5.524a1.665,1.665,0,1,0,2.443,2.261L40.9,22.978l-8.737-9.449A1.668,1.668,0,0,0,30.988,12.98Z" transform="translate(-0.971 -12.979)" fill="#e6b74d"/>
              </svg>
            </div>
            <p class="section_erholung__middle_top_content_item_last">Hafenpark</p>            
          </div>
          <div class="section_erholung__middle_top_content_item">
            <p class="section_erholung__middle_top_content_item_first">1,8 km</p>
            <div class="section_erholung__middle_top_content_item_middle">
              <svg xmlns="http://www.w3.org/2000/svg" width="39.927" height="20" viewBox="0 0 39.927 20">
                <path id="icons8-right_arrow" d="M30.988,12.98a1.666,1.666,0,0,0-1.27,2.811l5.111,5.524H2.659a1.664,1.664,0,1,0,0,3.327h32.17l-5.111,5.524a1.665,1.665,0,1,0,2.443,2.261L40.9,22.978l-8.737-9.449A1.668,1.668,0,0,0,30.988,12.98Z" transform="translate(-0.971 -12.979)" fill="#e6b74d"/>
              </svg>
            </div>
            <p class="section_erholung__middle_top_content_item_last">Ostpark</p>            
          </div>
          <div class="section_erholung__middle_top_content_item">
            <p class="section_erholung__middle_top_content_item_first">1,4 km</p>
            <div class="section_erholung__middle_top_content_item_middle">
              <svg xmlns="http://www.w3.org/2000/svg" width="39.927" height="20" viewBox="0 0 39.927 20">
                <path id="icons8-right_arrow" d="M30.988,12.98a1.666,1.666,0,0,0-1.27,2.811l5.111,5.524H2.659a1.664,1.664,0,1,0,0,3.327h32.17l-5.111,5.524a1.665,1.665,0,1,0,2.443,2.261L40.9,22.978l-8.737-9.449A1.668,1.668,0,0,0,30.988,12.98Z" transform="translate(-0.971 -12.979)" fill="#e6b74d"/>
              </svg>
            </div>
            <p class="section_erholung__middle_top_content_item_last">Schwedlersee</p>            
          </div>
        </div>
        <div class="section_erholung__middle_bottom_content">
          <p>Stadtwald und Main bieten ideale Joggingstrecken, ob in der Pause oder nach der Arbeit. Wer frische Luft genießen möchte, kann den begrünten Quartiersplatz zwischen den beiden Officegebäuden des Oststerns zur kurzen Erholungspause nutzen oder im nahegelegenen Ostpark oder Hafenpark abschalten. </p>
        </div>
      </div>
    </div>
    <div class="column large-5 sameHeight">
      <div class="section_erholung__right_wrapper">
        <div class="section_erholung__right_image">
          
        </div>
        <div class="section_erholung__right_content">
          Für einen schnellen Einkauf oder auch einen Lunchbreak findet sich einer der größten Supermärkte Frankfurts im direkten Umfeld, ebenso Bäcker, Metzger und eine Vielzahl an Restaurants und Cafés.
        </div>
      </div>
      
    </div>
  </div>
</div>