<div class="section section_facts_121">
  <div class="row">
    <div class="column large-6 ">
      <div class="section_facts_121__content_wrapper">
        <div class="section_facts_121__content_top">
          <h5 class="h5">OSTSTERN 121</h5>
          <h2 class="h1 animate__animated animate__slideInLeft wow " data-wow-duration="1s" data-wow-delay="2s">Smarte Arbeitswelt statt Auto&shy;industrie </h2>
          <h4>Hier erwacht das Ostend neu </h4>
        </div>
        <div class="section_facts_121__content_bottom">
          <p>
           Das ehemalige „Mercedes-Areal“ im Frankfurter Ostend wird aktuell neu entwickelt und mit einem Nutzungsmix aus Wohn- und Gewerbebauten beplant. Die Innenstadt nahe Lage und gute Verkehrsanbindung sowie die im Quartier vorhandenen Geschäfte machen das Ostend zu einem vielschichtigen und lebendigen Stadtteil mit ganz besonderem Charme.
          </p>
          <div class="button">Zu den Renderings</div>
        </div>
      </div>
    </div>
    <div class="column large-6  background-primary">
      <div class="thumbnail section_facts_121__image_wrapper">
      </div>
    </div>
  </div>
</div>