<div class="section section_facts_erreichbarkeit">
  <div class="row">
    <div class="column large-push-1 large-10">
      <!-- <img src="./assets/images/facts_erreichbarkeit.svg" alt=""> -->
      <div class="timeline">
        <div class="timeline__001 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay=".31s">
          <div class="timeline__001_text">
            <div class="h2">
              19 km
            </div>
            <p>Flughafen</p>
          </div>
          <div class="timeline__001_icon">
            <img src="../assets/images/icons/icons8-airport.svg" alt="">           
          </div>
        </div>
        <div class="timeline__002 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay=".61s">
          <div class="timeline__002_text">
            <div class="h2">
              0,25 km
            </div>
            <p>Ostbahnhof</p>
            <div class="timeline__002_subtext_wrapper">
              <p class="timeline__002_subtext">2,9 km Konstablerwache</p>
              <p class="timeline__002_subtext">3,9 km Hauptwache</p>
              <p class="timeline__002_subtext">5 km Hauptbahnhof</p>
            </div>
          </div>
          <div class="timeline__002_icon">
            <img src="../assets/images/icons/icons8-train.svg" alt="">
          </div>
        </div>
        <div class="timeline__003 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay=".91s">
          <div class="timeline__003_text">
            <div class="h2">
              2,2 km
            </div>
            <p>Autobahn (A661)</p>
          </div>
          <div class="timeline__003_icon">
            <img src="../assets/images/icons/icons8-highway.svg" alt="">
          </div>
        </div>
        <div class="timeline__004 animate__animated animate__fadeIn wow" data-wow-duration="1s" data-wow-offset="10" data-wow-delay="1.21s">
          <div class="timeline__004_text">
            <div class="h2">
              0,1 km
            </div>
            <p>Tram Linie 11</p>
            <div class="timeline__004_subtext_wrapper">
              <p class="timeline__004_subtext">0,3 km U-Bahn Station</p>
              <p class="timeline__004_subtext">0,3 km S-Bahn Station</p>
              <p class="timeline__004_subtext">0,4 km Bushaltestelle</p>
            </div>
          </div>
          <div class="timeline__004_icon">
            <img src="../assets/images/icons/icons8-tram.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

