<div class="section section_urbanitaet">
  <div class="row">
    <div class="column large-push-1 large-4">
      <div class="section_urbanitaet__image">
        <img src="./assets/images/urban_mainufer.jpg" alt="">
      </div>
    </div>
    <div class="column large-push-3 large-4">
      <div class="h2 color-secondary">Hier wird Urbanität gelebt!</div>
      <div class="h4 color-secondary">Designerstore, Second Hand Shop und Handwerk, Kaffeekultur und Kiezkneipe:</div>
      <p>die große kulinarische Vielfalt und aktive Kulturszene machen das Ostend so einzigartig. Gleichzeitig gibt es viele Erholungsorte und outdoor Sportangebote in direkter Nachbarschaft.</p>
    </div>
  </div>
</div>