<div class="section section_erreichbarkeit">
  <div class="row">
    <div class="column large-push-1 large-5">
      <div class="h2 color-secondary">Erreichbarkeit</div>
      <div class="h4 color-secondary">Wer morgens mit den öffentlichen Verkehrsmitteln zur Arbeit fahren möchte, profitiert vom fußläufig erreichbaren Ostbahnhof. </div>
      <p>Straßenbahn und Bus halten in unmittelbarer Nähe und verbinden das Ostend mit dem Hauptbahnhof, der Innenstadt und den anderen Stadtteilen. Den Flughafen Frankfurt erreicht man mit dem Auto oder mit der S-Bahn in 20 Minuten.</p>
    </div>
    <div class="column large-push-2 large-4">
      <div class="section_erreichbarkeit__image">
        <img src="./assets/images/erreichbarkeit-hanauerlandstr.jpg" alt="">
      </div>
    </div>
  </div>
</div>