<div class="section_besonderheiten">
  <div class="row">
    <div class="column large-3 sameHeight">
      <div class="section_besonderheiten__left_wrapper">
        <div class="section_besonderheiten__left_top_content">
          <div class="h2">
            Besonderheiten
          </div>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
        <div class="section_besonderheiten__left_bottom_content">
          <div class="section_besonderheiten__left_bottom_content_image">
            <img class="thumbnail" src="./assets/images/gebaeude_OSW_1.jpg" alt="">
          </div>
        </div>
      </div>
      
    </div>
    <div class="column large-4 sameHeight">
      <div class="section_besonderheiten__middle_wrapper">
        <div class="section_besonderheiten__middle_top_content">
          <div class="section_besonderheiten__middle_top_content_item">
            <p class="section_besonderheiten__middle_top_content_item_first">6</p>
            <div class="section_besonderheiten__middle_top_content_item_middle">
              <svg xmlns="http://www.w3.org/2000/svg" width="39.927" height="20" viewBox="0 0 39.927 20">
                <path id="icons8-right_arrow" d="M30.988,12.98a1.666,1.666,0,0,0-1.27,2.811l5.111,5.524H2.659a1.664,1.664,0,1,0,0,3.327h32.17l-5.111,5.524a1.665,1.665,0,1,0,2.443,2.261L40.9,22.978l-8.737-9.449A1.668,1.668,0,0,0,30.988,12.98Z" transform="translate(-0.971 -12.979)" fill="#e6b74d"/>
              </svg>
            </div>
            <p class="section_besonderheiten__middle_top_content_item_last">Stockwerke</p>            
          </div>
          <div class="section_besonderheiten__middle_top_content_item">
            <p class="section_besonderheiten__middle_top_content_item_first">XXX</p>
            <div class="section_besonderheiten__middle_top_content_item_middle">
              <svg xmlns="http://www.w3.org/2000/svg" width="39.927" height="20" viewBox="0 0 39.927 20">
                <path id="icons8-right_arrow" d="M30.988,12.98a1.666,1.666,0,0,0-1.27,2.811l5.111,5.524H2.659a1.664,1.664,0,1,0,0,3.327h32.17l-5.111,5.524a1.665,1.665,0,1,0,2.443,2.261L40.9,22.978l-8.737-9.449A1.668,1.668,0,0,0,30.988,12.98Z" transform="translate(-0.971 -12.979)" fill="#e6b74d"/>
              </svg>
            </div>
            <p class="section_besonderheiten__middle_top_content_item_last">Stockwerke</p>            
          </div>
          <div class="section_besonderheiten__middle_top_content_item">
            <p class="section_besonderheiten__middle_top_content_item_first">XXX</p>
            <div class="section_besonderheiten__middle_top_content_item_middle">
              <svg xmlns="http://www.w3.org/2000/svg" width="39.927" height="20" viewBox="0 0 39.927 20">
                <path id="icons8-right_arrow" d="M30.988,12.98a1.666,1.666,0,0,0-1.27,2.811l5.111,5.524H2.659a1.664,1.664,0,1,0,0,3.327h32.17l-5.111,5.524a1.665,1.665,0,1,0,2.443,2.261L40.9,22.978l-8.737-9.449A1.668,1.668,0,0,0,30.988,12.98Z" transform="translate(-0.971 -12.979)" fill="#e6b74d"/>
              </svg>
            </div>
            <p class="section_besonderheiten__middle_top_content_item_last">Stockwerke</p>            
          </div>
        </div>
        <div class="section_besonderheiten__middle_bottom_content">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <div class="column large-5 sameHeight">
      <div class="section_besonderheiten__right_wrapper">
        <div class="thumbnail section_besonderheiten__right_image">
          
        </div>
        <div class="section_besonderheiten__right_content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>