<div class="section section_fassade">
  <div class="row">
    <div class="column large-push-1 large-4">
      <div class="section_fassade__image">
        <img class="thumbnail" src="./assets/images/fassade_image.jpg" alt="">
      </div>
    </div>
    <div class="column large-push-3 large-4">
      <div class="h2 color-secondary">Fassade</div>
      <div class="h4 color-secondary">Im Erdgeschoss weist die Fassade einen großzügigeren Teilungsrhythmus auf und definiert auf subtile Weise eine Sockelzone.</div>
      <p>Hier öffnet sich der Baukörper mit großflächiger Verglasung zum Platz. Besonders markant tritt die vollverglaste Gebäudeecke hervor. Hier sind Einzelhandelsflächen vorgesehen, die sich zur Hanauer Landstraße hin orientieren und einen fließenden Übergang zwischen Stadtraum und Quartiersplatz herstellen. Erschlossen wird das Gebäude über zwei separate Eingangshallen, die sich nach Südwesten zum Platz hin öffnen.</p>
    </div>
  </div>
</div>