<div class="section section_architektur">
  <div class="row">
    <div class="column large-push-1 large-5">
      <div class="h2 color-secondary">Architektur</div>
      <div class="h4 color-secondary">Entlang der Hanauer Landstraße markieren die Oststern Offices den Eingang zum neuen Quartier und umschließen einen öffentlichen Platz.</div>
      <p>Das östliche Bürogebäude bildet das städtebauliche Entrée zum neuen Quartier, betont durch eine plastisch überhöhte Gebäudeecke und ein prägnantes Fassadenbild. Der gesamte Baukörper wird von einer hellen vorgehängten Metallfassade umschlossen, die sich wie ein zusammenhängendes Gewebe über die tiefer liegenden Fensterflächen legt.</p>
    </div>
    <div class="column large-push-2 large-4">
      <div class="section_architektur__image">
        <img src="./assets/images/architektur_image.jpg" alt="">
      </div>
    </div>
  </div>
</div>