<section class="tag-list">
	<h2 class="h2 spacing-medium">Tags</h2>

	{% for tag in collections.tagList %}
	  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
	  <a href="{{ tagUrl | url }}" class="button-tags">{{ tag }}<span>{{ tag }}</span></a>
	{% endfor %}
</section>
